.title-label{padding:12px 0;
    .wizard-title{margin-bottom: 0.5rem;}
}
.border-bottom{border-bottom: 4px #8950FC solid;}

.border-bottom-grey{border-bottom: 3px #EBEDF3 solid;}
.uiconfixed::before{position: relative;top: 2px;}